@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

/* henter daisy UI */
@plugin "daisyui";

@theme {
  /* Her tilføjes theme variable // tokens */

  /*FARVER */

  /* pink */
  --color-brand: #ff99f1;

  /* lilla */
  --color-ink: #190021;

  /* blå */
  --color-bold: #5989ff;
  --color-bold-300: #a5baff;
  --color-bold-700: #024fb6;
  --color-bold-900: #001d4c;

  /* lysegrøn */
  --color-spring: #e5ffbf;

  /* hvid */
  --color-paper: #ffffff;

  /*Typografi */
  --font-display: "Inter", sans-serif;

  /*Margin top mellem sektionerne */
  --spacing-sectiontop-M: 100px;
  --spacing-sectiontop-D: 200px;

  /*Padding top og bottom mellem headeren og første sektion og mellem sidste sektion og footeren*/
  --spacing-sectiontop: 40px;
  --spacing-sectionbottom: 40px;

  /*Infinite scroll animation på banneren*/
  --animate-infinite-scroll: infinite-scroll 25s linear infinite;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

@layer base {
}

@layer components {
}

@layer utilities {
  /* Start sammenklappet */
  .scale-up-ver-bottom {
    transform: scaleY(0);
    transform-origin: bottom;
  }

  /* Start animationen, når parent .group hoveres (forwards - så fill bliver ved med at være til stede ved hover) */
  .group:hover .scale-up-ver-bottom {
    animation: scale-up-ver-bottom 300ms ease-in-out forwards;
    -webkit-animation: scale-up-ver-bottom 300ms ease-in-out forwards;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2025-12-15 18:5:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * animation scale-up-ver-bottom
 * ----------------------------------------
 */

  /* Keyframe animationer til ældrer browsere */
  @-webkit-keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
    }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
    }
  }

  /* Keyframe animationer til nye browsere */
  @keyframes scale-up-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
    }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
    }
  }
}
