@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

/* henter daisy UI */
@plugin "daisyui";

@theme {
  /* Her tilføjes theme variable // tokens */

  /*FARVER */

  /* pink */
  --color-brand: #ff99f1;

  /* lilla */
  --color-ink: #190021;

  /* blå */
  --color-bold: #5989ff;
  --color-bold-700: #024fb6;
  --color-bold-900: #001d4c;

  /* lysegrøn */
  --color-spring: #e5ffbf;

  /* hvid */
  --color-paper: #ffffff;

  /*Typografi */
  --font-display: "Inter", sans-serif;

  /*SPACING */
  --spacing-sectiontop: 224px;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
