@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-lilla-500: #190021;
  --color-pink-500: #ff99f1;
  --color-blå-500: #5989ff;
  --color-hvid-500: #ffffff;
  --color-rød-500: #ff3e43;
  --color-lysegrøn-600: #e5ffbf;

  /*Typografi */
  --font-display: "Inter", sans-serif;
  --font-sans: "Quicksand", sans-serif;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
