---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import hero from "../assets/images/stot_hero.webp";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Bliv Medlem" description="Bliv medlem af Dansk Kvindesamfund og vær med til at styrke kampen for ligestilling, fællesskab og kvinders rettigheder i Danmark.">
  <main class="bg-brand">
    <!-- Hero tekst -->
    <section class="grid grid-cols-6 gap-2.5 mx-5 md:grid-cols-12 md:gap-5 md:mx-12">
      <div class="col-start-1 col-span-4 md:col-span-6 pt-sectiontop">
        <Heading htmlheading="h1" size="large" color="ink">VÆR EN DEL AF FORANDRINGEN</Heading>
        <Heading size="xsmall" color="ink">Som medlem bliver du en del af et nært fællesskab, der kæmper for ligestilling.</Heading>
      </div>
      <div class="relative col-start-1 col-span-6 md:col-start-7 md:col-span-8 md:mt-0 lg:mt-0">
        <Image class="intersect:animate-fade-up intersect:animate-once intersect:animate-duration-1500 intersect:animate-ease-out" src={hero} loading="lazy" alt="Kvinder med hinanden i hånden" />
      </div>
    </section>

    <!-- Tekst sektion top -->
    <section class="grid grid-cols-6 gap-2.5 mx-5 mt-sectiontop-M md:mt-sectiontop-D md:grid-cols-12 md:gap-5 md:mx-12">
      <div class="col-start-1 col-span-6 mt-5 md:mt-10">
        <Heading htmlheading="h3" size="large" color="ink">Bliv Medlem</Heading>
        <div class="">
          <Text teksttype="manchet" color="ink">Som medlem får du ikke kun mulighed for at bidrage økonomisk, men også for at være en del af et aktivt fællesskab, hvor din stemme bliver hørt.</Text>
        </div>
      </div>
    </section>

    <!-- Medlem Card 1 !Kodedele taget fra Daisiy Ui! -->

    <section class="grid grid-cols-6 gap-2.5 mx-5 md:grid-cols-12 md:gap-5 md:mx-12 mt-sectiontop-M md:mt-sectiontop-D">
      <div class="col-start-1 col-span-6 md:col-span-5 md:col-start-2">
        <div class="card bg-ink w-full rounded-3xl">
          <div class="card-body">
            <Heading htmlheading="h4" size="medium" color="paper">Ordinært medlemskab</Heading>

            <ul class="md:col-start-1 md:col-span-12 pl-3 max-w-full">
              <li class="pb-5"><Text teksttype="brødtekst" color="paper">• Løbende nyhedsbreve med opdateringer om vores arbejde og indsigt i den aktuelle ligestillingsdebat.</Text></li>
              <li class="pb-5"><Text teksttype="brødtekst" color="paper">• Mulighed for at engagere dig aktivt i kampagner, netværk og frivillige aktiviteter, der skaber reel forandring.</Text></li>
              <li class="pb-5"><Text teksttype="brødtekst" color="paper">• Masser af muligheder for at gøre en forskel som frivillig (vi kan ALTID bruge seje medlemmer, der gerne vil hjælpe!).</Text></li>
              <li class="pb-5"><Text teksttype="brødtekst" color="paper">• Og meget mere...</Text></li>
            </ul>
            <div class="bg-blue-500 grid col-span-full pt-5 pb-5 rounded-3xl mb-5">
              <div class="col-span-5 pl-5">
                <Text teksttype="manchet" color="paper">Månedligt</Text>
                <Heading htmlheading="h5" size="large" color="paper">50,-</Heading>
              </div>
              <div class="col-start-6 pt-4">
                <Button variant="tertiary">Bliv Medlem</Button>
              </div>
            </div>
            <div class="bg-blue-500 grid col-span-full pt-5 pb-5 rounded-3xl mb-5">
              <div class="col-span-5 pl-5">
                <Text teksttype="manchet" color="paper">Halvårligt</Text>
                <Heading htmlheading="h5" size="large" color="paper">250,-</Heading>
              </div>
              <div class="col-start-6 pt-4">
                <Button variant="tertiary">Bliv Medlem</Button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Medlem Card 2 !Kodedele taget fra Daisiy Ui! -->

      <div class="col-start-1 col-span-6 md:col-span-5 md:col-start-7">
        <div class="card bg-ink w-full rounded-3xl">
          <div class="card-body">
            <Heading htmlheading="h4" size="medium" color="paper">Nedsat medlemskab</Heading>
            <Text teksttype="manchet" color="paper">For dig der er ledig, pensionist eller studerende:</Text>

            <ul class="col-start-1 col-span-5 md:col-span-12 pl-3 max-w-full md:mt-12">
              <li class="pb-5">
                <Text teksttype="brødtekst" color="paper">• Med et nedsat medlemsskab får du alle de samme goder, som ved et ordinært medlemsskab.</Text>
              </li>
            </ul>

            <div class="bg-blue-500 grid col-span-full pt-5 pb-5 rounded-3xl mb-5 md:mt-32">
              <div class="col-span-5 pl-5">
                <Text teksttype="manchet" color="paper">Månedligt</Text>
                <Heading htmlheading="h5" size="large" color="paper">35,-</Heading>
              </div>
              <div class="col-start-6 pt-4">
                <Button variant="tertiary">Bliv Medlem</Button>
              </div>
            </div>
            <div class="bg-blue-500 grid col-span-full pt-5 pb-5 rounded-3xl mb-5">
              <div class="col-span-5 pl-5">
                <Text teksttype="manchet" color="paper">Halvårligt</Text>
                <Heading htmlheading="h5" size="large" color="paper">175,-</Heading>
              </div>
              <div class="col-start-6 pt-4">
                <Button variant="tertiary">Bliv Medlem</Button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- FAQ -->
    <div class="bg-bold-700">
      <section class="mx-5 md:mx-12 grid grid-cols-6 gap-2.5 md:grid-cols-12 md:gap-5 mt-sectiontop-M md:mt-sectiontop-D pb-sectionbottom">
        <!-- overskrift start-->
        <div class="col-start-1 col-span-6 pt-10">
          <Heading htmlheading="h3" size="medium" color="paper">FAQ</Heading>
        </div>

        <!-- overskrift slut-->

        <div class="col-start-1 col-span-6 md:col-span-12">
          <!-- 1. -->
          <div class="collapse collapse-plus bg-bold-700 text-paper rounded-none border-t-2 border-b-2 border-paper">
            <input type="radio" aria-labelledby="faq-1-title" name="my-accordion-3" checked="checked" />
            <div class="collapse-title" id="faq-1-title"><Heading htmlheading="h4" size="xsmall" color="paper">Som medlem får du</Heading></div>
            <div class="collapse-content md:max-w-1/2">
              <Text color="paper"
                >Adgang og viden om arrangementer, workshops og foredrag, hvor du kan møde eksperter og aktivister, der arbejder for ligestilling. <br /><br /> Løbende nyhedsbreve med opdateringer om vores arbejde og indsigt i den aktuelle ligestillingsdebat.<br /><br /> Mulighed for at engagere dig aktivt i kampagner, netværk og frivillige aktiviteter, der skaber reel forandring. <br /><br />Stemmeret til generalforsamlinger, så du kan være med til at præge organisationens retning og sikre, at vi sammen arbejder for en fremtid med lige muligheder for alle. <br /><br />En stærk følelse af at være en del af noget større – et fællesskab, der kæmper for lige rettigheder og lige muligheder for alle. <br /><br />Masser af muligheder for at gøre en forskel som frivillig (vi kan ALTID bruge seje
                medlemmer, der gerne vil hjælpe!).<br /><br /> Vores medlemsblad, som dækker vigtige og aktuelle ligestillingsemner – med perspektiver, du ikke finder andre steder. <br /><br />Rabatter på oplevelser, netværkstræf og andre events, hvor du kan møde andre engagerede feminister og blive inspireret. <br /><br />Invitationer til særarrangementer. <br /><br />Vi arbejder løbende på at sikre flere fordele til vores medlemmer, så dit medlemskab ikke bare gør en forskel - men også giver igen.</Text
              >
            </div>
          </div>

          <!-- 2. -->
          <div class="collapse collapse-plus bg-bold-700 text-paper border-b-2 border-paper">
            <input type="radio" aria-labelledby="faq-2-title" name="my-accordion-3" checked="checked" />
            <div class="collapse-title" id="faq-2-title"><Heading htmlheading="h4" size="xsmall" color="paper">Som medlem er du med til at støtte vores arbejde med</Heading></div>
            <div class="collapse-content md:max-w-1/2">
              <Text color="paper">Bekæmpelse af vold mod kvinder, kvindedrab, voldtægt og negativ social kontrol.<br /><br /> Oplysning om sexisme, #MeToo og digitale krænkelser. <br /><br />Styrkelse af kvinders seksuelle og reproduktive sundhed og rettigheder. <br /><br /> Indsatsen for ligeløn og lige repræsentation.<br /><br /> Synliggørelse af kvinders ofte oversete sygdomme og livsvilkår.<br /><br /> Og meget mere! </Text>
            </div>
          </div>

          <!-- 3. -->
          <div class="collapse collapse-plus bg-bold-700 text-paper border-b-2 border-paper">
            <input type="radio" aria-labelledby="faq-3-title" name="my-accordion-3" checked="checked" />
            <div class="collapse-title" id="faq-3-title"><Heading htmlheading="h4" size="xsmall" color="paper">Din støtte er vigtig</Heading></div>
            <div class="collapse-content md:max-w-1/2">
              <Text color="paper">Da vi er en uafhængig organisation, som ikke modtager statsstøtte, er vores medlemmer ekstra vigtige for os.<br /><br /> Dansk Kvindesamfund står fast på, at ligestilling ikke er en kamp mellem kønnene – det handler om at skabe et samfund med muligheder, ligeværd og lige rettigheder for alle. <br /><br />Sammen skaber vi forandring, og din støtte gør det muligt for os at fortsætte arbejdet. </Text>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</MainLayout>
