---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---
<MainLayout title="Homepage" class="">
	<main class="grid grid-cols-12 mx-12 g-5 m-sectiontop">
		<Heading>Vores vision</Heading>
        
        <Text teksttype="brødtekst">Så bliver Anders glad:-)</Text>
	</main>
</MainLayout>