---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import hero from "../assets/images/stot-os-hero.webp";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import mobilepay from "../assets/images/mobilepay.webp";
import visa from "../assets/images/visa.webp";
import dankort from "../assets/images/dankort.webp";
import Button from "../components/Button.astro";
---

<MainLayout title="Doner" description="Støt Dansk Kvindesamfunds arbejde for ligestilling og kvinders rettigheder gennem donationer og bidrag, der gør en konkret forskel.">
  <main class="bg-brand">
    <!-- Hero tekst -->
    <section class="grid grid-cols-6 gap-2.5 mx-5 md:grid-cols-12 md:gap-5 md:mx-12">
      <div class="col-start-1 col-span-4 md:col-span-6 pt-sectiontop">
        <Heading htmlheading="h1" size="large" color="ink">Støt os i kampen for ligestilling</Heading>
        <Heading size="xsmall" color="ink">Alle kan give et bidrag til vores <br /> arbejdet for ligestilling</Heading>
      </div>
      <div class="col-start-1 col-span-6 md:col-start-7 md:col-span-5 md:mt-0 lg:mt-10">
        <Image class="intersect:animate-fade-up intersect:animate-once intersect:animate-duration-1500 intersect:animate-ease-out" src={hero} loading="lazy" alt="To personer drikker af kop" />
      </div>
    </section>

    <!-- Tekst sektion -->
    <section class="grid grid-cols-6 gap-2.5 mx-5 mt-sectiontop-M md:mt-sectiontop-D md:grid-cols-12 md:gap-5 md:mx-12">
      <div class="col-start-1 col-span-6 md:col-span-7 lg:col-span-5">
        <Heading htmlheading="h3" size="large" color="ink">Donationer</Heading>
        <div class="mt-5 mb-10 md:mt-10 md:mb-20">
          <Text teksttype="brødtekst" color="ink">Her på siden kan du give et bidrag til arbejdet for ligestilling. <br /><br /> Det er også her du kan donere til vores §8A-indsamling, hvilket betyder at vi kan søge støtte til foreningens aktiviteter (Statens Udlodningspulje).<br /> Dit bidrag er med til at sikre, at vi kan fortsætte vores arbejde med at sætte ligestilling på dagsordenen.<br /> Du kan enten vælge at donere de 200kr en gang eller at opsætte en fast månedlig donation. OBS; Donationer er ikke det samme som medlemskab. <br />Ønsker du at blive medlem og få adgang til medlemsfordele, så skal det gøres her; Bliv medlem </Text>
        </div>

        <Heading htmlheading="h5" size="xsmall" color="ink">Hvad går dine penge til ved donation?</Heading>
        <div class="mt-5 mb-10 md:mt-10">
          <ul class="list-disc ml-5 text-ink col-span-4 mt-5 md:mt-10 md:mb-20">
            <li class="pb-5"><Text teksttype="brødtekst" color="ink">Når du donerer til Dansk Kvindesamfund, er du med til at støtte et vigtigt arbejde for ligestilling og for at hjælpe voldsramte kvinder og børn i Danmark.</Text></li>
            <li class="pb-5"><Text teksttype="brødtekst" color="ink">Din donation går blandt andet til rådgivning, krisecenterophold, forebyggende indsatser og konkrete projekter, der gør det muligt for kvinder og børn at komme fri af vold og få en tryg ny start.</Text></li>
            <li class="pb-5"><Text teksttype="brødtekst" color="ink">Samtidig bidrager du til organisationens oplysnings- og rettighedsarbejde, som sætter fokus på køn, vold og ligestilling i den offentlige debat.</Text></li>
          </ul>
        </div>
        <div class="">
          <Heading htmlheading="h5" size="xsmall" color="ink">Arv og testamente</Heading>
          <div class="mt-5 mb-10 md:mt-10">
            <Text teksttype="brødtekst" color="ink">Det er muligt at støtte Dansk Kvindesamfunds arbejde for ligestilling ved at tilgodese os i dit testamente. Din arv kan bidrage til vores indsats for at skabe et mere lige og retfærdigt samfund. På Det Gode Testamente kan du læse mere om, hvordan du nemt kan udfærdige et testamente og sikre, at din støtte gør en forskel for kommende generationer.</Text>
          </div>
        </div>
      </div>

      <!-- Form -->

      <div class="col-start-1 col-span-6 md:col-start-6 md:col-span-7 lg:col-start-8 lg:col-span-5 lg:mt-30">
        <Heading htmlheading="h4" size="xsmall" color="ink">Betalingsform</Heading>
        <div class="flex w-full border-2 md:border-4 border-ink rounded-full mt-4">
          <label class="flex-1 text-center cursor-pointer uppercase text-base md:text-xl">
            <input type="radio" name="gruppe1" value="fast" class="hidden peer" checked />
            <span class="block rounded-l-full px-4 py-2.5 md:px-5 md:py-3 text-ink transition duration-400 peer-checked:bg-ink peer-checked:text-brand"> Støt fast </span>
          </label>
          <label class="flex-1 text-center cursor-pointer uppercase text-base md:text-xl">
            <input type="radio" name="gruppe1" value="engangs" class="hidden peer" />
            <span class="block rounded-r-full px-4 py-2.5 md:px-5 md:py-3 text-ink transition duration-400 peer-checked:bg-ink peer-checked:text-brand"> Enkelt donation </span>
          </label>
        </div>
        <div class="pl-1 mt-5 md:mt-10">
          <Heading htmlheading="h5" size="xsmall" color="ink">Beløb</Heading>
        </div>
        <div class="grid grid-cols-2 gap-6">
          <div class="col-span-full">
            <label class="flex items-center gap-3 cursor-pointer mt-5">
              <input type="checkbox" class="checkbox" />
              <div class="grid grid-cols-4 gap-2 items-center">
                <Text teksttype="brødtekst" color="ink">200 kr</Text>
              </div>
            </label>
          </div>
          <div class="col-span-full">
            <label class="flex items-center gap-3 cursor-pointer mt-5">
              <input type="checkbox" class="checkbox" />
              <div class="grid grid-cols-4 gap-2 items-center">
                <Text teksttype="brødtekst" color="ink">Andet</Text>
              </div>
            </label>
          </div>
        </div>
        <div class="mt-5 md:mt-10">
          <Heading htmlheading="h5" size="xsmall" color="ink">Betalingsmetode</Heading>
        </div>
        <div class="">
          <div class="">
            <label class="flex items-center justify-between gap-3 cursor-pointer">
              <div class="flex items-center gap-3">
                <input type="checkbox" class="checkbox" />
                <div class="grid grid-cols-2 gap-3 items-center">
                  <Text tekstype="brødtekst" color="ink">Betalingskort</Text>
                </div>
              </div>
              <div class="grid grid-cols-2 gap-2">
                <Image class="" src={dankort} loading="lazy" alt="Dankort logo" />
                <Image class="" src={visa} loading="lazy" alt="Visa logo" />
              </div>
            </label>
          </div>
          <label class="flex items-center justify-between gap-3 cursor-pointer mt-5">
            <div class="flex items-center gap-3">
              <input type="checkbox" class="checkbox" />
              <div class="grid grid-cols-4 gap-2 items-center">
                <Text tekstype="brødtekst" color="ink">Mobilepay</Text>
              </div>
            </div>
            <div class="grid grid-cols-1 gap-2">
              <Image class="" src={mobilepay} loading="lazy" alt="mobilepay logo" />
            </div>
          </label>
        </div>

        <div class="mt-20">
          <label class="text-ink text-base md:text-xl">
            Fornavn
            <input type="text" placeholder="Ida" class="my-4 w-full rounded-full border-2 md:border-4 border-ink bg-transparent px-4 py-2.5 md:px-7 md:py-5 focus:outline-none" />
          </label>
        </div>

        <div>
          <label class="text-ink text-base md:text-xl">
            Efternavn
            <input type="text" placeholder="Hansen" class="my-4 w-full rounded-full border-2 md:border-4 border-ink bg-transparent px-4 py-2.5 md:px-7 md:py-5 focus:outline-none" />
          </label>
        </div>

        <div>
          <label class="text-ink text-base md:text-xl">
            Postnr.
            <input type="text" placeholder="2300" class="my-4 w-full rounded-full border-2 md:border-4 border-ink bg-transparent px-4 py-2.5 md:px-7 md:py-5 focus:outline-none" />
          </label>
        </div>

        <div>
          <label class="text-ink text-base md:text-xl">
            By
            <input type="text" placeholder="København S" class="my-4 w-full rounded-full border-2 md:border-4 border-ink bg-transparent px-4 py-2.5 md:px-7 md:py-5 focus:outline-none" />
          </label>
        </div>
        <div>
          <label class="text-ink text-base md:text-xl">
            Email
            <input type="text" placeholder="idahansen@gmail.com" class="my-4 w-full rounded-full border-2 md:border-4 border-ink bg-transparent px-4 py-2.5 md:px-7 md:py-5 focus:outline-none" />
          </label>
        </div>

        <div>
          <label class="text-ink text-base md:text-xl">
            Telefon
            <input type="text" placeholder="20 65 31 81" class="my-4 w-full rounded-full border-2 md:border-4 border-ink bg-transparent px-4 py-2.5 md:px-7 md:py-5 focus:outline-none" />
          </label>
        </div>

        <div>
          <label class="text-ink text-base md:text-xl">
            CPR-nr.
            <input type="text" placeholder="220901 - 7226" class="my-4 w-full rounded-full border-2 md:border-4 border-ink bg-transparent px-4 py-2.5 md:px-7 md:py-5 focus:outline-none" />
          </label>
        </div>

        <div class="flex justify-end">
          <Button variant="tertiary">STØT</Button>
        </div>

        <!--Begingelser -->
        <section class="grid col-span-full gap-2.5 mx-5 mt-5 md:mt-10">
          <div class="collapse collapse-plus bg-brand text-ink rounded-none border-t-2 border-b-2 border-ink">
            <input type="radio" aria-labelledby="betingelser" name="my-accordion-3" checked="checked" />
            <div class="collapse-title" id="betingelser"><Text teksttype="brødtekst" color="ink">Læs vores betingelser her</Text></div>
            <div class="collapse-content w-full mt-0 md:mt-5">
              <Text teksttype="konsultativ" color="ink">Betingelser for Medlemskab og Donation <br /> Gælder for køb af medlemskab og donation på danskkvindesamfund.dk <br /><br /> Siden ejes og drives af: <br /> Dansk Kvindesamfund CVR-nr.:<br /> 53361919 Niels Hemmingsens Gade 10 <br />1153 København K<br /> Telefon: 21807501<br /> E-mail: sekretariat@danskkvindesamfund.dk <br /><br />Ved betaling med kort – bortset fra Dankort – vil betalingen blive reserveret på din konto i overensstemmelse med vilkårene for dit kort, indtil vi trækker eller afviser betalingen. Du modtager en kvittering for dit medlemskab eller donation pr. e-mail.</Text>
            </div>
          </div>
        </section>
        <div class="mt-10">
          <Text teksttype="konsultativ" color="ink">Tak for at støtte vores arbejde. Du er velkommen til at frabede dig, at vi af og til kontakter dig med nyt om Dansk Kvindesamfund. På Privatlivspolitik fortæller vi, hvordan vi passer på dine persondata, og hvordan du kan takke nej til henvendelser fra os.</Text>
        </div>
      </div>
    </section>

    <!-- FAQ -->
    <div class="bg-bold-700">
      <section class="mx-5 md:mx-12 grid grid-cols-6 gap-2.5 md:grid-cols-12 md:gap-5 mt-sectiontop-M md:mt-sectiontop-D pb-sectionbottom">
        <!-- overskrift start-->
        <div class="col-start-1 col-span-6 pt-10">
          <Heading htmlheading="h3" size="medium" color="paper">FAQ</Heading>
        </div>

        <!-- overskrift slut-->

        <div class="col-start-1 col-span-6 md:col-span-12">
          <!-- 1. -->
          <div class="collapse collapse-plus bg-bold-700 text-paper rounded-none border-t-2 border-b-2 border-paper">
            <input type="radio" aria-labelledby="faq-1-title" name="my-accordion-3" checked="checked" />
            <div class="collapse-title" id="faq-1-title"><Heading htmlheading="h4" size="xsmall" color="paper">Hvor meget kan jeg donere?</Heading></div>
            <div class="collapse-content md:max-w-1/2">
              <Text color="paper">Vi har et forslag som lyder på 200 kr som er minimums beløbet for en donation - ellers vælger du “andet” og vælger frit fra 200,- og op, hvor meget du vil donere.</Text>
            </div>
          </div>

          <!-- 2. -->
          <div class="collapse collapse-plus bg-bold-700 text-paper border-b-2 border-paper">
            <input type="radio" aria-labelledby="faq-2-title" name="my-accordion-3" checked="checked" />
            <div class="collapse-title" id="faq-2-title"><Heading htmlheading="h4" size="xsmall" color="paper">Hvilke betalingsmetoder kan jeg bruge?</Heading></div>
            <div class="collapse-content md:max-w-1/2">
              <Text color="paper">Betaling kan ske ved brug af følgende betalingsmidler: MobilePay, VISA/Dankort og MasterCard.</Text>
            </div>
          </div>

          <!-- 3. -->
          <div class="collapse collapse-plus bg-bold-700 text-paper border-b-2 border-paper">
            <input type="radio" aria-labelledby="faq-3-title" name="my-accordion-3" checked="checked" />
            <div class="collapse-title" id="faq-3-title"><Heading htmlheading="h4" size="xsmall" color="paper">Er der fortrydelsesret på donationer?</Heading></div>
            <div class="collapse-content md:max-w-1/2">
              <Text color="paper">Der er ikke fortrydelsesret på donationer eller på betaling for medlemskab. <br /><br />Hvis du ønsker at opsige medlemskab, skal du skrive til: sekretariat@danskkvindesamfund.dk </Text>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</MainLayout>
