---
// Henter parametrene fra Astro.props
const { variant = "primary", stylingclasses = "" } = Astro.props;

//Definer den styling Tailwind classes, der gør sig gældende for alle knapper
const buttonStyling = "rounded-full uppercase cursor-pointer text-base md:text-xl border-2 px-4 py-2.5 md:border-4 md:px-5 md:py-3 relative overflow-hidden group";

// De forskellige varianters bg-colors (til animationens fill)
const variantBgColor = {
  primary: "bg-brand",
  secondary: "bg-bold",
  tertiary: "bg-ink",
  white: "bg-paper",
  iconsbutton: "bg-brand",
};

// De forskellige varianters text hover farver
const variantTextHover = {
  primary: "group-hover:text-ink",
  secondary: "group-hover:text-ink",
  tertiary: "group-hover:text-bold-300",
  white: "group-hover:text-bold-700",
  iconsbutton: "group-hover:text-ink",
};

// Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter
const variantClasses = {
  primary: "border-brand text-brand",
  secondary: "border-bold text-bold",
  tertiary: "border-ink text-ink",
  white: "border-paper text-paper",
  iconsbutton: "py-4 md:py-5 border-brand text-brand",
};
---

<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<button class:list={[stylingclasses, buttonStyling, variantClasses[variant]]}>
  <!-- Slot-indholdet -->
  <span class={`relative z-10 transition-colors duration-300 ${variantTextHover[variant]}`}>
    <slot />
  </span>

  <!-- Baggrunds-animation -->
  <span class={`absolute bottom-0 left-0 w-full h-full scale-up-ver-bottom ${variantBgColor[variant]}`}></span>
</button>
