---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
import Button from "./Button.astro";
---
<header x-data="{ showmenu: false }" class="" >
    <div id="navbar" class="p-8 flex flex-row justify-between items-center bg-lilla-500 text-pink-500">
        <!-- logo -->
        <div id="logo">
            <a href="#">
                <img src="/logo.svg" alt="logo"> 
            </a>
        </div>
        <!-- menu punkter -->
        <nav id="desktopmenu" class="hidden lg:block">
            <ul class="flex flex-row gap-10 font-display text-xl items-center">
                <li class=""><a href="">MANIFEST</a></li>
                <li class=""><a href="">OM OS</a></li>
                <li><Button>BLIV MEDLEM</Button></li>
                <!-- <li class=""><a href="/komponentbibliotek/" class={currentPath === "komponentbibliotek/" ? "italic font-bold" : "italic"}>Komponentbibliotek</a></li>
            </ul> -->
        </nav>
        <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
</svg>
</button>
    </div>
    <nav id="mobilmenu" class="flex flex-col bg-lilla-500 text-pink-500 p-8 font-display text-xl" 
    x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <ul class="flex flex-col text-right">
    <li class="py-3"><a href="">MANIFEST</a></li>
    <li class="py-3"><a href="">OM OS</a></li>
    <li class="py-3"><Button>BLIV MEDLEM</Button></li>
</ul>
    </nav>
</header>